// 路由动画

.slide-left-enter, .slide-right-leave-active {
  // opacity: 0;
  // -webkit-transform: translate(50px, 0);
  // transform: translate(50px, 0);
  animation: slide-in .4s ease-out;// cubic-bezier(.55,0,.1,1);
}
.slide-left-leave-active, .slide-right-enter {
  // opacity: 0;
  // -webkit-transform: translate(-50px, 0);
  // transform: translate(-50px, 0);
  animation: slide-out .4s ease-in-out;// cubic-bezier(.55,0,.1,1);
}

@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50px, 0);
    transform: translate(-50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
    transform: translate(50px, 0);
  }
}